DJANGO==5.2.2
mistralai
psycopg2-binary==2.9.10
python-dotenv # Load environment variables from .env file
requests==2.32.3 # HTTP library for making requests
django-extensions # Extensions for Django
django-formtools # Form handling library for Django
tenacity==9.1.2  # Retry library for handling transient errors - useful for network calls (api)
sqlparse # SQL parsing library
tzdata # Time zone data for PostgreSQL
djangorestframework # REST framework for building APIs
gunicorn # WSGI server for production
